body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #e7b5b5;
}
 
 
.classc {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
img {
    max-width: 100%;
    height: auto;
}